<% provide(:title, "Welcome!") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | アマチュアミュージシャンとアマチュアバンドを繋ぐ！CopiBANG</title>
  </head>
  <body>
      <p>ポートフォリオのトップページだよ</p>
  </body>
</html>
